<p id="notice"><%= notice %></p>

<div class="game-block">
<h1>Lobby</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="list-of-games">
    <% @games.each do |game| %>
      <tr>
        <td>Game Room #<%= game.id %></td>
        <td>  Number of players: 0<!--insert num_of_players dynamically later -->/8</td>
        <td>  <%= link_to 'Show', game %></td>

        <!-- <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
</table>


<br>

<!--<%= link_to 'New Game', new_game_path %> -->

</div>
</div>
<div class="chat-block">
Global Chat
<%= render :partial => 'chat_messages/index', :locals =>{:chat_message => @chat_message} %>
</div>