<!DOCTYPE html>
<html>
<head>
  <script>
</script>
</head>
<body>
<div id="chat"><%= game_id %></div>
<%= form_for chat_message, remote: true do |f| %>
  <div style="display:none">
    <%= hidden_field_tag :socket_id %>
    <%= hidden_field_tag :channel, game_id %>
  </div>
  <div class="chat_messages"></div>
  <br><br>
  <div>
    <%= f.label :message %>
    <%= f.text_field :message, :size=> "50", placeholder: "Hit enter to send" %>
  </div>
<% end %>
</body>
</html>